<body class="login-body flex-column-center" style="">

<div class="signup-container flex-column-center">
	<h2>See you later!</h2>
	<p>Logged out successfully</p>
	<br>
	<a href="/" class="main-button">Ok</a>
</div>