<body class="signup-body flex-column-center">

<div class="signup-container flex-column-center">
  <h1>Sign Up</h1>
  <form action="" method="" class="flex-column-center">
    <input class="standard-input" type="text" placeholder="USERNAME">
    <input class="standard-input" type="email" placeholder="EMAIL">
    <input class="standard-input" type="password" placeholder="PASSWORD">
    <button type="submit" class="main-button">Sign Up</button>
  </form>
</div>