<body class="signup-body flex-column-center">

<div class="signup-container flex-column-center">
	<h1>Welcome to FITNESS APP</h1>
	<p>Thanks for joining! Enjoy!</p>
	<a href="/home" class="main-button">Start Tracking</a>
</div>