<body class="signup-body flex-column-center">
<div class="flex-column-center gap-20">
  <img class="logo" src="../images/logo.png">
  <h1 class="main-text">🎉 WELCOME 🎉</h1>
	<p>Thanks for joining <strong>{{appTitle}}</strong> !</p>
	<br>
	<a href="/home" class="main-button">Start<br>Tracking</a>
  </div>  
</div>