<nav>
  <a href="/home">
    <img src="../images/icons/home-icon.png">
    Home
  </a>
  <a href="/history">
    <img src="../images/icons/statistics-icon.png">
    History
  </a>
  <a href="/profile">
    <img src="../images/icons/profile-icon.png">
    Profile
  </a>
</nav>