<body class="flex-column-center">
<script>
  function startNewTimer(){
    localStorage.clear('timeInSeconds')
  }
</script>
{{> navbar}}
<header class="flex-column-start">
  <p class="secondary-text center-text">HOME</p>
	<h1>Hey, {{username}}</h1>
  <div class="container flex-row-evenly-center home-details">
    <p class="secondary-text center-text"><span class="showcase">{{totalWorkouts}}</span> Total <br> Workouts</p>
	  <p class="secondary-text center-text"><span class="showcase">{{summarizedExercises.totalExercises}}</span> Total <br> Exercises</p>
	  <p class="secondary-text center-text"><span class="showcase">{{activeDays}}</span> Active <br> Days</p>
  </div>
</header>

<div class="flex-column-start">
  <p>Are you ready for a new workout?</p>
	<a href='/tracker' class="main-button" onclick="startNewTimer()"> Start New Workout </a>
</div>
<p>Last Workout:</p>