<body class="flex-column-center">

<h1>Welcome User</h1>

{{#each workoutsFromDb}}
  <a href='#' class="workout-container">
    <div class="image-container">
      <img src="/images/man-biceps-curl.jpg" alt="">
    </div>
    <div class="text-container">
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <p>{{this.duration}}</p>
    </div>
  </a>
{{/each}}
