<body class="flex-column-center">
<script>
  function startNewTimer(){
    localStorage.clear('timeInSeconds')
  }
</script>
<nav>
  <ul class="flex-row-center">
    <li><a class="active" href="/home">Home</a></li>
    <li><a href="/history">History</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>
</nav>
<div class="flex-column-center center-text add-space-after">
	<h1 class="add-space-before">Welcome {{username}}</h1>
	<p><span class="showcase">{{totalWorkouts}}</span> Total Workouts</p>
	<p><span class="showcase">{{summarizedExercises.totalExercises}}</span> Total Exercises</p>
	<p><span class="showcase">{{activeDays}}</span> Active Days</p>
</div>

<div class="flex-column-center center-text add-space-after">
	<a href='/tracker' class="main-button track-button" onclick="startNewTimer()"> Track Workout </a>
  
	<p class="secondary-text text-hint">Click to start a new Workout!</p>
</div>

<hr class="add-space-before add-space-after">



<a href="/auth/logout" class="logout add-space-before">Logout</a>
