<body class="signup-body flex-column-center">
  
<div class="signup-container flex-column-center">
<h1><strong>{{appTitle}}</strong></h1>
<h2>Create your own individual Workout and Track your gym progress!</h2>
<p><i>count your reps to make your reps count</i></p>

<hr class="add-space-before add-space-after"></hr>
	<p><a href="/signup">Sign Up</a> to start tracking!</p>
	<p>Already a member? <a href="/login">Login</a></p>
</div>