<body class="login-body flex-column-center">

<div class="flex-column-center gap-20 landing-page">
	<img class="logo" src="../images/logo.png">
	<h1 class="main-text">{{appTitle}}</h1>
	<h2 class="center-text">count your reps to <br> make your reps count!</h2>
	<br>
	<p class="center-text">Create your <strong>own individual</strong> workout and track your gym <strong>progress</strong>!</p>
	<div class="flex-column-start">
		<a class="main-button" href="/login">Login</a>
		<a class="standard-button" href="/signup">Sign Up</a>
	</div>  
</div>