<body class="flex-column-center">
<nav>
  <ul class="flex-row-center">
    <li><a href="/home">Home</a></li>
    <li><a class="active" href="/statistics">Statistics</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>
</nav>

<div class="flex-column-center">
  <h1>Statistics</h1>
  <input type="search" placeholder="Search Exercise">

  {{#each exercises}}
    <div class="container">
      <h2>{{this.title}}</h2>
    </div>
  {{/each}}
</div>