<body class="flex-column-center">
<script type="text/javascript" src="/js/input-selection.js"></script>
<script>
	document.querySelector('#finish-workout-button').addEventListener('click', () => {
		document.querySelector('input[name="duration"]').value = document.querySelector('#timer').innerText
	})
</script>
<script type="text/javascript" src="/js/timer.js"></script>


<div class="timer-container flex-column-center">
  <span id="timer">00:00:00</span>
  <button id="timer-control-button">II</button>
</div>

{{#if message}}
  {{message}}
{{/if}}

{{#if previousWorkoutExercises}}
	<div class="container flex-column">
		{{> exerciseTable previousWorkoutExercises}}
	</div>
{{/if}}

<div id="exercises-container" class="flex-column-center"></div>
<button class="main-button" onclick="addExerciseForm()" type="button">Add a new Exercise</button>

<hr class="add-space-before add-space-after">

<form id="finish-workout" class="flex-column" action="/saveworkout" method="POST">
	<input class="standard-input" type="text" name="title" placeholder="title" required>
	<input class="standard-input" type="text" name="description" placeholder="description">
  	<input type="text" name="duration" hidden>
	<button id="finish-workout-button" class="main-button" type="submit" for="finish-workout">Finish and Save Workout</button>
</form>

<form id="abort-workout" class="flex-column" action="/abort" method="POST">
	<button class="standard-button" for="abort-workout">Abort without saving</button>
</form>


