<body class="flex-column-center">

<script type="text/javascript" src="/js/input-selection.js"></script>
  <p>00:00</p>
  <div id="exercises-container" class="flex-column-center">
    
  </div>
  <button class="standard-button" onclick="addExerciseForm()">Add Exercise</button>