@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
}
:root{
  --element-color-1: #13161B;
  --element-color-2: #2C2E35;
  --element-color-3: #46484E;

  --main-color-1: #00fefe;
  --main-color-2: #00FE88;
  --main-color-2-transparent: #00fe8758;

  --primary-text-color: #f2f2f2;
  --secondary-text-color: #a8aab7;

  --standard-border-radius: 4px;
  --standard-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.125);
  --standard-transition: 100ms ease-in-out; 
  --standard-font-family: 'Poppins', Segoe UI, sans-serif;
  --standard-font-size: 14pt;
}
html{
  font-family: var(--standard-font-family);
  font-size: var(--standard-font-size);
  color: var(--primary-text-color);
}
body {
	min-height: 100vh;
  background-color: var(--element-color-1);
}
h1{
  padding: 15px 0;
}
a{
  text-decoration: none;
  transition: var(--standard-transition);
}
button{
  font: inherit;
  transition: var(--standard-transition);
}
/*☝ End of basic styles*/
/*👇 Start of generic classes*/
.standard-button{
  padding: 10px 30px;
  border: 1.5px solid var(--secondary-text-color);
  border-radius: var(--standard-border-radius);
  box-shadow: var(--standard-shadow);
  background-color: var(--element-color-3);
  color: var(--secondary-text-color);
  cursor: pointer;
}
.standard-button:hover, .standard-button:focus{
  outline: none;
  background-color: var(--secondary-text-color);
  color: var(--element-color-1);
}
.main-button{
  padding: 10px 30px;
  border: 1.5px solid var(--main-color-2);
  border-radius: var(--standard-border-radius);
  box-shadow: var(--standard-shadow);
  background-color: var(--main-color-2-transparent);
  text-transform: uppercase;
  font-weight: 500;
  color: var(--main-color-2);
  cursor: pointer;
}
.main-button:hover, .main-button:focus{
  outline: none;
  background-color: var(--main-color-2);
  color: var(--element-color-1);
}
.standard-input{
  width: 100%;
  border: 1px solid var(--secondary-text-color);
  border-radius: var(--standard-border-radius);
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  font: inherit;
  color: var(--primary-text-color);
  transition: var(--standard-transition);
}
.standard-input::placeholder{
  color: var(--secondary-text-color);
  transition: var(--standard-transition);
}
.standard-input:hover{
  border-color: var(--main-color-1);
}
.standard-input:focus{
  outline: none;
  border-color: var(--main-color-1);
}
.standard-input:focus::placeholder{
  color: var(--main-color-1);
}
.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.flex-row-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.flex-row-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-wrap{
  flex-wrap: wrap;
}
.secondary-text{
  color: var(--secondary-text-color);
}
/*☝ End of generic classes*/
/*👇 Start of Sign Up Form*/
.mobile-wrapper{
  box-sizing: border-box;
  height: 100vh;
  width: 600px;
  max-width: 100%;
  border-right: 1px solid var(--element-color-3);
  border-left: 1px solid var(--element-color-3);
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.signup-body .mobile-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('../images/man-biceps-curl.jpg');
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}
.signup-container{
  margin-top: 100px;
}
.password-validation-ul{
  display: none;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: var(--standard-border-radius);
  list-style: none;
  font-size: 10pt;
}
input[name="password"]:focus ~ .password-validation-ul{
  display: block;
}
.workouts-ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container{
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  box-shadow: var(--standard-shadow);
  background-color: var(--element-color-2);
  border: 1.5px solid var(--element-color-3);
  border-radius: var(--standard-border-radius);
  color: var(--primary-text-color);
  gap: 10px;
  display: flex;
}
.container > .image-container{
  height: 100px;
  background-color: var(--element-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > .image-container img{
  height: 100%;
}
.container .text-container{
  display: flex;
  flex-direction: column;
}
.container.exercise input{  
  width: 60px;
}